<template name="MasterLayout">
	<div class="container-fluid">
		

	</div>


<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Your selected view</a></li>
  <li role="presentation"><a href="/partners">Partners</a></li>
  <li role="presentation"><a href="/topics">Topics</a></li>
    <li role="presentation"><a href="/profile">Your Profile</a></li>

    <li role="presentation"><a href="#">{{>loginButtons}}</a></li>

</ul>

	{{> yield}}
	<!-- {{> ProfileList}} -->
	<!-- {{> TopicList}} -->
	<!-- {{> CreateProfile}} -->
</template>
