<template name="Home">

	<div class="home">
		<video autoplay  poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" loop>

			<source src="//demosthenes.info/assets/videos/polina.webm" type="video/webm">
				<source src="//demosthenes.info/assets/videos/polina.mp4" type="video/mp4">
				</video>
				<div id="polina">
					<h1>Find a study partner today and never have to study alone</h1>

					<!-- <button>Pause</button> -->
					<!-- can explore adding the pause some times
					http://thenewcode.com/777/Create-Fullscreen-HTML5-Page-Background-Video
					https://codepen.io/dudleystorey/pen/knqyK
					 -->
				</div>
			</div>
		</template>
