<template name="CreateProfile">
	<div class="create-profile">
		<!-- Todo: make sure that you only grab the profile for yourself -->
		<h2>Create a profile for yourself!</h2>
		<img src="{{profile.picture}}" class="img-rounded">

		{{#if noProfile}}
		<p>Looks like you have not created a profile yet...</p>
		<h2>Let's create one</h2>

		{{else}}

		{{/if}}
		<h3>{{profile.name}}</h3>
		<h6>{{profile.bio}}</h6>



		<form>
			<input type="text" id="name" placeholder={{placeholderText.name}}/>
			<input type="text" id="picture" placeholder="Picture url..."/>
			<input type="text" id="website" placeholder="your website"/>
			<input type="text" id="major" placeholder="major"/>
			<input type="text" id="bio" placeholder="Tell us about yourself"/>
			<input type="text" id="course" placeholder="Course looking for buddy for"/>

			<button id="button" class="btn" type="submit">Save</button>

		</form>

	</div>
</template>
